.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #3f51b5;
}

.item {
  height: fit-content;
  width: auto;
  overflow: auto;
  background-color: #f2f2f2;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;

  p, u {
    background-color: #f0e68c;
    color: #000000;
    margin: 0 3%;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }

  table {
    height: auto;
    width: 100%;
    background-color: #f0e68c;
    border-collapse: collapse;

    th {
      font-size: large;
      color: #ffffff;
      background-color: #3f51b5;
      text-align: center;
    }

    tr {
      background-color: #f0e68c;
      color: #000000;
    }

    td {
      font-size: 17px;
      border-bottom: 1px solid #dcdcdc;
      text-align: center;
    }

    tr:hover {
      background-color: #ffd700;
      color: #000000;
    }
  }
}
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.register-link {
  font-size: 24px;
  font-weight: bold;
  color: #3f51b5;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #3f51b5;
  border-radius: 8px;
  background-color: #e8eaf6;
  transition: background-color 0.3s, color 0.3s;
}

.register-link:hover {
  background-color: #3f51b5;
  color: white;
}

