<div class="content" fxLayout="column" fxLayoutAlign="space-around center">
    <h1>We are <span>PetsHealth</span></h1>
    <h2>Welcome back!</h2>
    <form
      [formGroup]="loginFormGroup"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <div
        class="floating-label"
        fxLayoutAlign="space-between start"
        fxLayout="column"
      >
        <div fxLayoutAlign="space-around center">
          <div fxLayoutAlign="center center">Email:</div>
        </div>
        <input
          placeholder="Email"
          type="text"
          [formControlName]="'email'"
        />
      </div>
      <div
        class="floating-label"
        fxLayoutAlign="space-between start"
        fxLayout="column"
      >
        <div fxLayoutAlign="space-around start">
          <div fxLayoutAlign="center center">Password:</div>
        </div>
        <input
          placeholder="Password"
          type="password"
          [formControlName]="'password'"
        />
      </div>
      <button
        fxLayout="column"
        fxLayoutAlign="center center"
        (click)="collectFormData()"
      >
        Log in
      </button>
  
      <div class="register">
        <a mat-button routerLink="/register"> <u>Dont have an account? </u></a>
      </div>
      <div class="vet">
        <a mat-button routerLink="/vet"> <u>You are a veteranian? </u></a>
      </div>
    </form>
  </div>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <div class="ajax-loader">
    <div class="paw"><i class="fas fa-paw"></i></div>
    <div class="paw"><i class="fas fa-paw"></i></div>
    <div class="paw"><i class="fas fa-paw"></i></div>
    <div class="paw"><i class="fas fa-paw"></i></div>
    <div class="paw"><i class="fas fa-paw"></i></div>
    <div class="paw"><i class="fas fa-paw"></i></div>  
    <div class="paw"><i class="fas fa-paw"></i></div>
    <div class="paw"><i class="fas fa-paw"></i></div>
  </div>
  